<!DOCTYPE html>
<head>
	<title>About</title>
	<script src="../../assets/javascripts/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
 	<script src="../../assets/javascripts/lightbox.js" type="text/javascript" charset="utf-8"></script>
	
</head>

<body>
<div id='body'>
	<div id='header'>
		<h1>Home</h1>
		
	</div>
	<div class='text'>
		<h2>About Me</h2>
		<h3>Hi! I'm Saundra Castaneda.</h3>
		<p>(that's me in the middle)</p><br>
		<ul>
			<li>first-year student at DePaul University</li>
			<li>studying computer science</li>
			<li>owner of 3 dogs</li>
			<li>plays the guitar and ukulele</li>
			<li>enjoys photography</li>
			<li>coffee addict</li>
			<li>loves sudoku puzzles</li>
			<li><a href="https://github.com/svcastaneda">GitHub account</a></li>
			<li><a href="https://www.linkedin.com/profile/view?id=277653916" target="_blank">LinkedIn profile</a></li>
		</ul>
	</div>
	
	<div id='pictures'>
		<img src="http://res.cloudinary.com/svcastaneda/image/upload/v1429225581/me.jpg" data-lightbox="roadtrip" style="float:left" width="240" alt="me"/>
		<div id='dogs'>
		
			<img src="http://res.cloudinary.com/svcastaneda/image/upload/v1429225585/Sammy.jpg" data-lightbox="roadtrip" width="115" alt="Sammy">
			<img src="http://res.cloudinary.com/svcastaneda/image/upload/v1429225581/Dexter.jpg" data-lightbox="roadtrip" width="115" alt="Dexter"/>
			<img src="http://res.cloudinary.com/svcastaneda/image/upload/v1429225581/Lucy.jpg" data-lightbox="roadtrip" width="115" alt="Lucy"/>
			
		</div>
	</div>
	
</div>
</body>